@model IEnumerable<CuentasxPagarAPP_v2.Models.Concepto>

@{
    ViewData["Title"] = "Listado Conceptos";
}

<h1 class="text-center">Listado de Conceptos</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Añadir Concepto</a>
</p>

<div style="text-align: right">
    <form asp-controller="Conceptos" asp-action="Index">
        <p>
            <input type="text" name="SearchString" />
            <input type="submit" value="Buscar" class="btn btn-primary" />
        </p>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdConcepto" class="btn btn-warning">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdConcepto" class="btn btn-success">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdConcepto" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
